In [1]:
import pandas as pd

data = pd.read_csv('../archive/gz2_filename_mapping.csv')

In [2]:
# everything that isn't a original sample
data_2 = data[data['sample'] != 'original']

In [3]:
data_2

                      objid            sample  asset_id
245609   587722981736054938             extra    245610
245610   587722981739069541             extra    245611
245611   587722981741428877             extra    245612
245612   587722981742542987             extra    245613
245613   587722981742936247             extra    245614
...                     ...               ...       ...
355985  8647475122541625731  stripe82_coadd_2    355986
355986  8647475122541625762  stripe82_coadd_2    355987
355987  8647475122541625774  stripe82_coadd_2    355988
355988  8647475122761762019  stripe82_coadd_2    355989
355989  8647475122761762804  stripe82_coadd_2    355990

[110381 rows x 3 columns]